h1,h2,h3,p, h4,li{
    font-family: sans-serif;
}
h1{
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    text-align: center;
    font-size: 30px;
}
p{
    font-size: 22px;
    line-height: 1.5;
}
li{
    font-size: 20px;
}