h1,h2,h3,p, h4,li{
    font-family: sans-serif;
    color: #444;
}
h1,h2,h3{
    color: #1098ad
}
h1{
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    text-align: center;
    font-size: 30px;
}
p{
    font-size: 22px;
    line-height: 1.5;
}
li{
    font-size: 20px;
}
.rem{
    list-style: none;
}
.main-header{
    background-color: #f7f7f7;
}
aside{
    background-color: #f7f7f7;
    border-top : 5px solid #1098ad;
    border-bottom : 5px solid #1098ad;
}
.copyright{
    font-size: 10px;
}
body{

}
li:first-child{
    font-weight: bold;
}
li:last-child{
    font-style: italic;
}
li:nth-child(3){
    /*color: red;*/
}
a{
    color: #1098ad;
    text-decoration: none;
}
a:hover{
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;

}
a:active{
    background-color: black;
    font-style: italic;
}

